Repository kitarefake/cpython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1st1, @tiran, @python/import-team, @bitdancer, @gpshead, @python/windows-team

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# asyncio
**/*asyncio*                  @1st1

# Core
**/*genobject*                @1st1

# Hashing
**/*hashlib*                  @tiran
**/*pyhash*                   @tiran

# Import (including importlib)
**/*import*                   @python/import-team

# SSL
**/*ssl*                      @tiran

# Email and related
**/*mail*                     @bitdancer
**/*smtp*                     @bitdancer
**/*mime*                     @bitdancer
**/*imap*                     @bitdancer
**/*poplib*                   @bitdancer

# subprocess
**/*subprocess*               @gpshead

# Windows
/PC/                          @python/windows-team
/PCBuild/                     @python/windows-team

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team

bpo-31205: IDLE: Factor KeysPage class from ConfigDialog (#3096)
  Lib/idlelib/configdialog.py
  Lib/idlelib/idle_test/test_configdialog.py
  Misc/NEWS.d/next/IDLE/2017-08-15-12-58-23.bpo-31205.iuziZ5.rst
Owners: none

bpo-30928: Update idlelib/NEWS.txt to 2017-08-15. (#3098)
  Lib/idlelib/NEWS.txt
Owners: none

bpo-30983: Revert changes which broke most buildbots (#3100)
  Misc/ACKS
  Tools/gdb/libpython.py
Owners: none

bpo-31069, test_multiprocessing: Fix dangling process (#3103)
  Lib/test/_test_multiprocessing.py
Owners: none

bpo-18966: non-daemonic threads created by a multiprocessing.Process should be joined on exit (#3111)
  Lib/multiprocessing/process.py
  Lib/test/_test_multiprocessing.py
  Lib/threading.py
  Misc/NEWS.d/next/Library/2017-08-16-20-28-06.bpo-18966.mjHWk2.rst
Owners: none

bpo-24700: Add a fast path for comparing array.array of equal type (#3009)
  Lib/test/test_array.py
  Misc/NEWS.d/next/Library/2017-08-08-15-14-34.bpo-24700.44mvNV.rst
  Modules/arraymodule.c
Owners: none

Update the language selection in the docs language switch. (GH-3114)
  Doc/tools/static/switchers.js
Owners: none

bpo-31221: patchcheck ignores external libraries (#3109)
  Tools/scripts/patchcheck.py
Owners: none

bpo-30871: Add test.pythoninfo (#3075)
  .github/appveyor.yml
  .travis.yml
  Lib/test/libregrtest/main.py
  Lib/test/pythoninfo.py
Owners: none

Adds nuget symbols package for daily builds. (#3122)
  Tools/nuget/make_pkg.proj
  Tools/nuget/pythondaily.symbols.nuspec
Owners: @python/windows-team

bpo-30871: pythoninfo: add expat and _decimal (#3121)
  Lib/test/pythoninfo.py
Owners: none

bpo-31001: IDLE: Add tests for configdialog highlight tab (#3123)
  Lib/idlelib/configdialog.py
  Lib/idlelib/idle_test/test_configdialog.py
  Misc/NEWS.d/next/IDLE/2017-08-17-15-00-20.bpo-31001.KLxYHC.rst
Owners: none

bpo-31183: `dis` now handles coroutines & async generators (GH-3077)
  Doc/library/dis.rst
  Lib/dis.py
  Lib/test/test_dis.py
  Misc/NEWS.d/next/Library/2017-08-13-09-17-01.bpo-31183.-2_YGj.rst
Owners: none

Fix broken `Show Source` links on documentation pages (GH-3113)
  Doc/tools/templates/customsourcelink.html
Owners: none

bpo-30871: Add "make pythoninfo" (#3120)
  Makefile.pre.in
Owners: none

bpo-30871: pythoninfo: more sys, os, time data (#3130)
  Lib/test/pythoninfo.py
Owners: none

bpo-30721: Show correct syntax hint in Py3 when using Py2 redirection syntax (#2345)
  Lib/test/test_print.py
  Misc/NEWS.d/next/Core and Builtins/2017-08-18-15-15-20.bpo-30721.Hmc56z.rst
  Objects/abstract.c
Owners: none

Issue #30923: Revert flag that is not recognized by an obsolete gcc version. (#3132)
  setup.py
Owners: none

bpo-30721: Add missing '?' to new error message (GH-3131)
  Lib/test/test_print.py
  Objects/abstract.c
Owners: none

bpo-30121: Fix debug assert in subprocess on Windows (#1224)
  Lib/subprocess.py
  Lib/test/test_subprocess.py
Owners: @gpshead

bpo-31231: Fix pythoninfo in Travis config (#3134)
  .travis.yml
Owners: none

Fix a minor grammar issue in the logging cookbook (GH-3136)
  Doc/howto/logging-cookbook.rst
Owners: none

bpo-31109: Convert zipimport to use Argument Clinic (GH-2990)
  Misc/ACKS
  Misc/NEWS.d/next/Library/2017-08-17-20-29-45.bpo-31109.7qtC64.rst
  Modules/clinic/zipimport.c.h
  Modules/zipimport.c
Owners: @python/import-team

bpo-30923: Disable warning that has been part of -Wextra since gcc-7.0. (#3142)
  Modules/_decimal/libmpdec/io.c
Owners: none

bpo-31234: fork_wait tests now join threads (#3139)
  Lib/test/fork_wait.py
Owners: none

bpo-30947: Update libexpat from 2.2.1 to 2.2.3 (#3106)
  Misc/NEWS.d/next/Security/2017-08-16-16-35-59.bpo-30947.iNMmm4.rst
  Modules/expat/expat.h
  Modules/expat/loadlibrary.c
  Modules/expat/siphash.h
  Modules/expat/xmlparse.c
  Modules/expat/xmlrole.c
  Modules/expat/xmltok.c
  Modules/expat/xmltok_impl.c
  PCbuild/_elementtree.vcxproj
  PCbuild/_elementtree.vcxproj.filters
  PCbuild/pyexpat.vcxproj
  PCbuild/pyexpat.vcxproj.filters
  setup.py
Owners: none

bpo-30830: test_logging uses threading_setup/cleanup (#3137)
  Lib/test/test_logging.py
Owners: none

bpo-31235: Fix ResourceWarning in test_logging (#3147)
  Lib/test/test_logging.py
Owners: none

bpo-31206: IDLE: Factor HighPage class from ConfigDialog (#3141)
  Lib/idlelib/configdialog.py
  Misc/NEWS.d/next/IDLE/2017-08-18-14-13-42.bpo-31206.F1-tKK.rst
Owners: none

bpo-31234: test_threading: fix ref cycle (#3150)
  Lib/test/test_threading.py
Owners: none

bpo-31206: IDLE: Factor HighPage class from ConfigDialog (#3156)
  Lib/idlelib/configdialog.py
  Lib/idlelib/idle_test/test_configdialog.py
Owners: none

bpo-31206: IDLE: Factor HighPage class from ConfigDialog (#3160)
  Lib/idlelib/configdialog.py
Owners: none

bpo-28261: Fixed err msgs where PyArg_ParseTuple is used to parse normal tuples. (#3119)
  Lib/test/test_audioop.py
  Lib/test/test_io.py
  Modules/_ctypes/_ctypes.c
  Modules/_io/textio.c
  Modules/audioop.c
  Modules/overlapped.c
  Modules/socketmodule.c
  Modules/timemodule.c
Owners: none

bpo-9566 & bpo-30747: Silence warnings from pyatomic.h macros (#3140)
  Include/pyatomic.h
Owners: none

bpo-30923: Silence fall-through warnings included in -Wextra since gcc-7.0. (#3157)
  Modules/_ctypes/_ctypes.c
  Objects/call.c
  Objects/stringlib/codecs.h
  Objects/unicodeobject.c
  Python/ast.c
  Python/ceval.c
  Python/compile.c
  Python/dtoa.c
  Python/formatter_unicode.c
  Python/getargs.c
  Python/marshal.c
  Python/pyhash.c
  Python/wordcode_helpers.h
Owners: @tiran

bpo-31247: xmlrpc.server: break reference cycle (#3166)
  Lib/xmlrpc/server.py
  Misc/NEWS.d/next/Library/2017-08-21-17-50-27.bpo-31247.8S3zJp.rst
Owners: none

bpo-31236: Improved some error messages of min() and max().
  Python/bltinmodule.c
Owners: none

bpo-31249: test_concurrent_futures checks dangling threads (#3167)
  Lib/test/test_concurrent_futures.py
Owners: none

bpo-31238: pydoc ServerThread.stop() now joins itself (#3151)
  Lib/pydoc.py
  Misc/NEWS.d/next/Library/2017-08-21-12-31-53.bpo-31238.Gg0LRH.rst
Owners: none

Add test_subprocess.test_nonexisting_with_pipes() (#3133)
  Lib/test/test_subprocess.py
Owners: @gpshead
