Repository kitarefake/cpython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1st1, @tiran, @python/import-team, @bitdancer, @gpshead, @python/windows-team

bpo-23835: Enforce that configparser defaults are strings (#2558)
  Lib/configparser.py
  Lib/test/test_configparser.py
Owners: none

bpo-23835: [docs] configparser converts defaults to strings (#3176)
  Doc/library/configparser.rst
  Misc/ACKS
  Misc/NEWS.d/next/Library/2017-08-21-16-06-19.bpo-23835.da_4Kz.rst
Owners: none

bpo-30983: [gdb] Fix py-bt, etc. for non-debug shared builds (#3153)
  Misc/ACKS
  Misc/NEWS.d/next/Tools-Demos/2017-08-18-17-19-23.bpo-30983.ggGz9z.rst
  Tools/gdb/libpython.py
Owners: none

bpo-31249: Fix ref cycle in ThreadPoolExecutor (#3178)
  Lib/concurrent/futures/thread.py
  Misc/NEWS.d/next/Library/2017-08-22-12-44-48.bpo-31249.STPbb9.rst
Owners: none

bpo-31234: test_httpservers joins the server thread (#3188)
  Lib/test/test_httpservers.py
Owners: none

bpo-31234: test_threaded_import: fix test_side_effect_import() (#3189)
  Lib/test/test_threaded_import.py
Owners: @python/import-team

Touch up the contributing notes (#3158)
  .github/CONTRIBUTING.rst
Owners: none

bpo-31161: only check for parens error for SyntaxError (#3082)
  Lib/test/test_exceptions.py
  Misc/NEWS
  Objects/exceptions.c
Owners: none

bpo-31229: Fixed wrong error messages when too many keyword arguments are received. (#3180)
  Lib/test/test_call.py
  Python/getargs.c
Owners: none

bpo-31095: fix potential crash during GC (GH-2974)
  Doc/extending/newtypes.rst
  Doc/includes/noddy4.c
  Misc/NEWS.d/next/Core and Builtins/2017-08-01-18-48-30.bpo-31095.bXWZDb.rst
  Modules/_collectionsmodule.c
  Modules/_elementtree.c
  Modules/_functoolsmodule.c
  Modules/_io/bytesio.c
  Modules/_json.c
  Modules/_ssl.c
  Modules/_struct.c
  Objects/dictobject.c
  Objects/setobject.c
  Parser/asdl_c.py
  Python/Python-ast.c
Owners: @tiran

bpo-23835: Restore legacy defaults= behavior for RawConfigParser (#3191)
  Doc/library/configparser.rst
  Lib/configparser.py
  Lib/test/test_configparser.py
Owners: none

bpo-28261: fix err msgs where PyArg_ParseTuple is used to parse normal tuples (leftovers) (#3198)
  Modules/_io/textio.c
Owners: none

bpo-29741: Update some methods in the _pyio module to also accept integer types. Patch by Oren Milman. (#560)
  Lib/_pyio.py
  Lib/test/test_memoryio.py
  Misc/NEWS.d/next/Library/2017-08-23-00-31-32.bpo-29741.EBn_DM.rst
Owners: none

bpo-22536: Set the filename in FileNotFoundError. (#3194)
  Lib/subprocess.py
  Lib/test/test_subprocess.py
  Misc/NEWS.d/next/Library/2017-08-23.bpo-22536._narf_.rst
Owners: @gpshead

Skip two tests not intended to pass on Windows. (#3202)
  Lib/test/test_subprocess.py
Owners: @gpshead

bpo-30923: Silence fall-through warnings in libexpat build. (#3205)
  setup.py
Owners: none

bpo-31275: Small refactoring to silence a fall-through warning. (#3206)
  Modules/cjkcodecs/_codecs_iso2022.c
Owners: none

bpo-31279: Silence -Wstringop-overflow warning. (#3207)
  Objects/bytearrayobject.c
Owners: none

bpo-31271: Fix an assertion failure in io.TextIOWrapper.write. (#3201)
  Lib/test/test_io.py
  Misc/NEWS.d/next/Core and Builtins/2017-08-25-20-43-22.bpo-31271.YMduKF.rst
  Modules/_io/textio.c
Owners: none

bpo-31072: Rename the new filter argument for zipapp.create_archive. (#3049)
  Doc/library/zipapp.rst
  Doc/whatsnew/3.7.rst
  Lib/test/test_zipapp.py
  Lib/zipapp.py
Owners: none

bpo-30781: IDLE - use ttk widgets in configdialog (#2654)
  Lib/idlelib/configdialog.py
  Lib/idlelib/idle_test/test_configdialog.py
  Misc/NEWS.d/next/IDLE/2017-07-28-18-59-06.bpo-30781.ud5m18.rst
Owners: none

bpo-31287: IDLE - do not alter tkinter.messagebox in configdialog tests. (#3220)
  Lib/idlelib/configdialog.py
  Lib/idlelib/idle_test/test_configdialog.py
  Misc/NEWS.d/next/IDLE/2017-08-27-15-31-33.bpo-31287.aZERfI.rst
Owners: none

bpo-30617: IDLE: docstrings and unittest for outwin.py (#2046)
  Lib/idlelib/idle_test/test_outwin.py
  Lib/idlelib/outwin.py
  Misc/NEWS.d/next/IDLE/2017-08-27-16-49-36.bpo-30617.UHnswr.rst
Owners: none

bpo-26656: Improve re.compile documentation (GH-3211)
  Doc/library/re.rst
Owners: none

bpo-30987 - Support for ISO-TP protocol in SocketCAN (#2956)
  Doc/library/socket.rst
  Lib/test/test_socket.py
  Misc/ACKS
  Misc/NEWS.d/next/Library/2017-07-30-22-00-12.bpo-30987.228rW0.rst
  Modules/socketmodule.c
Owners: none

bpo-10746: Fix ctypes PEP 3118 type codes for c_long, c_bool, c_int (#31)
  Lib/ctypes/test/test_pep3118.py
  Misc/NEWS.d/next/Library/2017-08-28-13-01-05.bpo-10746.nmAvfu.rst
  Modules/_ctypes/_ctypes.c
Owners: none

Fix a typo in the Programming FAQ. (#3230)
  Doc/faq/programming.rst
Owners: none

bpo-31243: Fixed PyArg_ParseTuple failure checks. (#3171)
  Lib/test/test_io.py
  Misc/NEWS.d/next/Core and Builtins/2017-08-24-13-34-49.bpo-31243.dRJzqR.rst
  Modules/_io/textio.c
  Modules/_testcapimodule.c
Owners: none

bpo-31286, bpo-30024: Fixed stack usage in absolute imports with (#3217)
  Lib/test/test_import/__init__.py
  Python/compile.c
Owners: @python/import-team

bpo-31065: Add doc about Popen.poll returning None. (#3169)
  Doc/library/subprocess.rst
Owners: @gpshead

bpo-31291: Fixed an assertion failure in zipimport.zipimporter.get_data() (#3226)
  Lib/test/test_zipimport.py
  Misc/NEWS.d/next/Core and Builtins/2017-08-28-11-51-29.bpo-31291.t8QggK.rst
  Modules/zipimport.c
Owners: @python/import-team

bpo-5001: More-informative multiprocessing error messages (#3079)
  Lib/multiprocessing/connection.py
  Lib/multiprocessing/dummy/__init__.py
  Lib/multiprocessing/forkserver.py
  Lib/multiprocessing/heap.py
  Lib/multiprocessing/managers.py
  Lib/multiprocessing/pool.py
  Lib/multiprocessing/popen_fork.py
  Lib/multiprocessing/queues.py
  Lib/multiprocessing/reduction.py
  Lib/multiprocessing/resource_sharer.py
  Lib/multiprocessing/semaphore_tracker.py
  Lib/multiprocessing/spawn.py
  Lib/multiprocessing/synchronize.py
  Lib/multiprocessing/util.py
  Misc/NEWS.d/next/Library/2017-08-18-17-16-38.bpo-5001.gwnthq.rst
Owners: none

bpo-31051: Rearrange IDLE condigdialog GenPage into Window, Editor, and Help sections. (#3239)
  Lib/idlelib/configdialog.py
  Misc/NEWS.d/next/IDLE/2017-08-30-00-06-58.bpo-31051.50Jp_Q.rst
Owners: none

bpo-30581: Windows: os.cpu_count() returns wrong number of processors (#2934)
  Misc/NEWS.d/next/Windows/2017-08-04-10-05-19.bpo-30581.OQhR7l.rst
  Modules/posixmodule.c
Owners: none

Removed noop branch from ctypes code (#3234)
  Lib/ctypes/__init__.py
Owners: none

Fix the indentation in Extending Python code example (GH-3244)
  Doc/extending/extending.rst
Owners: none

[Trivial] Remove now redundant assert (#3245)
  Lib/multiprocessing/pool.py
Owners: none

bpo-30737: Update DevGuide links to new URL (GH-3228)
  Doc/README.rst
  Doc/bugs.rst
  Doc/faq/general.rst
  Doc/howto/curses.rst
  Doc/using/unix.rst
  Doc/using/windows.rst
  Doc/whatsnew/2.6.rst
  Doc/whatsnew/3.4.rst
  Grammar/Grammar
  Mac/README
  Misc/ACKS
  Misc/Porting
  Misc/python.man
  README.rst
Owners: none

bpo-30096: Use ABC in abc reference examples (#1220)
  Doc/library/abc.rst
Owners: none

bpo-31217: Fix regrtest -R for small integer (#3260)
  Lib/test/libregrtest/refleak.py
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# asyncio
**/*asyncio*                  @1st1

# Core
**/*genobject*                @1st1

# Hashing
**/*hashlib*                  @tiran
**/*pyhash*                   @tiran

# Import (including importlib)
**/*import*                   @python/import-team

# SSL
**/*ssl*                      @tiran

# Email and related
**/*mail*                     @bitdancer
**/*smtp*                     @bitdancer
**/*mime*                     @bitdancer
**/*imap*                     @bitdancer
**/*poplib*                   @bitdancer

# subprocess
**/*subprocess*               @gpshead

# Windows
/PC/                          @python/windows-team
/PCBuild/                     @python/windows-team

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team
