Repository kitarefake/cpython, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1st1, @tiran, @python/import-team, @bitdancer, @gpshead, @python/windows-team

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# asyncio
**/*asyncio*                  @1st1

# Core
**/*genobject*                @1st1

# Hashing
**/*hashlib*                  @tiran
**/*pyhash*                   @tiran

# Import (including importlib)
**/*import*                   @python/import-team

# SSL
**/*ssl*                      @tiran

# Email and related
**/*mail*                     @bitdancer
**/*smtp*                     @bitdancer
**/*mime*                     @bitdancer
**/*imap*                     @bitdancer
**/*poplib*                   @bitdancer

# subprocess
**/*subprocess*               @gpshead

# Windows
/PC/                          @python/windows-team
/PCBuild/                     @python/windows-team

# Windows installer packages
/Tools/msi/                   @python/windows-team
/Tools/nuget/                 @python/windows-team

bpo-31250, test_asyncio: fix dangling threads (#3252)
  Lib/asyncio/test_utils.py
  Lib/test/test_asyncio/test_futures.py
  Lib/test/test_asyncio/test_proactor_events.py
Owners: @1st1

bpo-27144: concurrent.futures as_complete and map iterators do not keep reference to returned object (#1560)
  Lib/concurrent/futures/_base.py
  Lib/concurrent/futures/process.py
  Lib/test/test_concurrent_futures.py
  Misc/NEWS.d/next/Library/2017-08-30-11-26-14.bpo-27144.PEDJsE.rst
Owners: none

bpo-31326: ProcessPoolExecutor waits for the call queue thread (#3265)
  Lib/concurrent/futures/process.py
  Misc/NEWS.d/next/Library/2017-09-01-18-48-06.bpo-31326.TB05tV.rst
Owners: none

bpo-31250, test_asyncio: fix EventLoopTestsMixin.tearDown() (#3264)
  Lib/test/test_asyncio/test_events.py
Owners: @1st1

bpo-31323: Fix reference leak in test_ssl (#3263)
  Lib/test/test_ssl.py
Owners: @tiran

remove a redundant lower in urllib.parse.urlsplit (#3008)
  Lib/urllib/parse.py
Owners: none

bpo-31185: Fixed miscellaneous errors in asyncio speedup module. (#3076)
  Lib/test/test_asyncio/test_futures.py
  Misc/NEWS.d/next/Library/2017-08-11-19-30-00.bpo-31185.i6TPgL.rst
  Modules/_asynciomodule.c
  Modules/clinic/_asynciomodule.c.h
Owners: @1st1

Fix a c.f.as_completed() refleak previously introduced in bpo-27144 (#3270)
  Lib/concurrent/futures/_base.py
  Lib/test/test_concurrent_futures.py
Owners: none

bpo-9146: add the missing NEWS entry. (#3275)
  Misc/NEWS.d/next/Library/2017-05-24-00-00-00.bpo-9146.pinky_.rst
Owners: none

bpo-12383: Also ignore __PYVENV_LAUNCHER__ (#3278)
  Lib/test/test_subprocess.py
Owners: @gpshead

Add missing _sha3 module to Setup.dist (#2395)
  Modules/Setup.dist
Owners: none

remove configure check for 'volatile' (#3281)
  configure
  configure.ac
  pyconfig.h.in
Owners: none

remove autoconf check for select() (#3283)
  configure
  configure.ac
  pyconfig.h.in
Owners: none

bpo-31281: Fix pathlib.Path incompatibility in fileinput (gh-3208)
  Lib/fileinput.py
  Lib/test/test_fileinput.py
  Misc/NEWS.d/next/Library/2017-08-29-07-14-14.bpo-31281.DcFyNs.rst
Owners: none
